page-register {

  .container_sign_up{
    background-image: url(https://app-restaurante.herokuapp.com/api/images/fondo3.jpg);
    background-size: 100%;
  }
  .content_image_sign {
    text-align: center;
  }
  .btn_up {
    width: 100%;
    font-size: 20px;
    background: #333;
  }
  .btn_sign_up {
    margin-top: 10%;
  }
  .item {
    color: #333;
    font-size: 20px;
  }
  .item-input .label-md{
    color: #333;
  }
  img{
    width: 30%;
    margin: 0px 0px 10px 0px;
  }
  .header, .toolbar, .toolbar-background{
    background: #F23333;
  }
  .toolbar-title{
    color: #fff;
  }
}
