page-restaurant {
  .item-md, .list-md ion-item-sliding{
    background: none;
  }
  .container_restaurant{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-image: url(https://app-restaurante.herokuapp.com/api/images/fondo3.jpg);
    background-size: 100%;
  }
  .container_restaurant:before{
    background-color: #fff;
    position: absolute;
  }
  .title_history {
    text-align: center;
    color: #000;
    font-size: 200%;
  }
  .div_title {
    margin: 20px 20px 20px 20px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    width: 87%;
    height: 10%;
    padding-top: 10px;
    border-radius: 10px;
  }
  .div_add {
    font-size: 20px;
    background-color: #333;
    border-radius: 20px;
  }
  img {
    width: 100%;
    height: 100%;
    border: 2px solid #F23333;
    border-radius: 10px;
  }
  .item-md ion-thumbnail img{
    width: 90px;
    height: 90px;
    margin-top: 15px;
  }
  .header, .toolbar, .toolbar-background{
    background: #F23333;
  }
  .toolbar-title{
    color: #fff;
  }
  .h2_text{
    text-transform: capitalize;
    width: 20%;
  }
  .div_restaurtant, .div_information{
    display: flex;
    flex-wrap: wrap;
  }
  .div_information{
    padding: 10px 0px 0px 0px;
  }
  .bar-button-default-md{
    color: #fff;
  }
}
