page-restaurant {
  .item-md, .list-md ion-item-sliding{
    background: none;
  }
  .container_restaurant{
    background-image: url(https://app-restaurante.herokuapp.com/api/images/fondo3.jpg);
    background-size: 100%;
  }
  .container_restaurant:before{
    background-color: #fff;
    position: absolute;
  }
  .title_history {
    text-align: center;
    color: #000;
    font-size: 200%;
  }
  .div_title {
    margin: 30px 0px 20px 0px;
  }
  .div_add {
    font-size: 20px;
    background-color: #333;
    border-radius: 20px;
  }
  img {
    width: 100%;
    height: 100%;
    border: 2px solid #F23333;
    border-radius: 10px;
  }
  .header, .toolbar, .toolbar-background{
    background: #F23333;
  }
  .toolbar-title{
    color: #fff;
  }
  .h2_text{
    text-transform: capitalize;
    width: 20%;
  }
  .div_restaurtant, .div_information{
    display: flex;
    flex-wrap: wrap;
  }
  .div_information{
    padding: 10px 0px 0px 0px;
  }
  .h2_all{
    font-size: 20px;
    padding-top: 12px;
  }
  .btn_all{
    background-color: #333;
    border-radius: 20px;
    font-size: 17px;
  }
}
