page-home {
    .content_image_sign {
      margin: 10% 0% 10% 0%;
    }
    .container_sign_in{
      font-family: 'Barlow Semi Condensed', sans-serif;
      background-image: url(https://app-restaurante.herokuapp.com/api/images/fondo3.jpg);
      background-size: 100%;
    }
    .txt_register{
      background: rgba(255, 255, 255, 0.7);
      padding: 4px 10px 8px 4px;
      border-radius: 10px;
    }
    .content_image_sign,
    .btn_sign_in {
      text-align: center;
      width: 100%;
    }
    img {
      width: 35%;
      height: 30%;
      border-radius: 50%;
      border: 3px ridge #333;
    }
    .btn_in {
      width: 100%;
      font-size: 20px;
      background: #333;
    }
    .btn_sign_in {
      margin-top: 10%;
    }
    .txt_register {
      margin-top: 10%;
      text-align: center;
    }
    .etq_register {
      font-size: 20px;
    }
    .a_register {
      text-decoration: #F23333;
      color: #F23333;
    }
    .item {
      color: #333;
      font-size: 20px;
      border-radius: 5px;
    }
    .item-input .label-md{
      color: #333;
    }
    .header, .toolbar, .toolbar-background{
      background: #F23333;
    }
  
    .toolbar-title{
      color: #fff;
    }
}
  