page-information-requested {
    .container_orders{
        background-color: #F23333;
    }
    .item_orders{
        font-size: 20px;
    }
    .txt_total{
        font-size: 25px;
    }
    .title_orders{
        margin-top: 10px;
    }
    .delete{
        background: #E10000  ;
    }
    .btn_notes, .btn_send{
        font-size: 19px;
        width: 150px;
    }
}
