page-information-requested {
    .container_orders{
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-image: url(https://app-restaurante.herokuapp.com/api/images/fondo3.jpg);
        background-size: 100%;
    }
    .item_orders{
        font-size: 20px;
    }
    .txt_total{
        font-size: 25px;
    }
    .title_orders{
        margin-top: 10px;
    }
    .delete{
        background: #E10000  ;
    }
    .btn_notes, .btn_send{
        font-size: 19px;
        width: 150px;
    }
}
