page-information-requested {
    .container_orders{
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-image: url(https://app-restaurante.herokuapp.com/api/images/fondo3.jpg);
        background-size: 100%;
    }
    .bar-button-default-md{
        color: #fff;
    }
    .item_orders{
        font-size: 20px;
    }
    .txt_total{
        font-size: 25px;
    }
    .title_orders{
        margin-top: 5px;
    }
    .div-title{
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        width: 100%;
        padding-top: 10px;
        padding-block-end: 5px;
        border-radius: 10px;
    }
    .total{
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        border-radius: 10px;
        padding: 2px 9px 2px 9px;
    }
    .item-md ion-avatar img {
        width: 70px;
        height: 70px;
    }
    .delete{
        background: #E10000  ;
    }
    .btn_send{
        font-size: 19px;
        width: 180px;
        background-color: #333;
        border-radius: 20px;
    }
    .btns {
        margin-top: 10%;
        text-align: center;
    }
}
