<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="false">
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="container_menu">

  <ion-item>
    <ion-label>Categoria</ion-label>
    <ion-select [(ngModel)]="pet" interface="popover">
      <ion-option value="TIPICO">Tipico</ion-option>
      <ion-option value="COMBOS">Combos</ion-option>
      <ion-option value="BEBIDAS">Bebida</ion-option>
      <ion-option value="ALCOHOLICAS">Bebidas Alcoholicas</ion-option>
    </ion-select>
  </ion-item>

  <div class="div_segment">
    <h2 class="h2-menu">Menu</h2>
  </div>

  <div [ngSwitch]="pet">

    <ion-list *ngSwitchCase="'TIPICO'">
      <ion-item class="item-color" *ngFor="let item2 of listTipico" (click)="NavigationHistoryInformationPage(item2,0);">
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col col>
                  <ion-thumbnail item-start>
                    <img src="https://app-restaurante.herokuapp.com/api/images/{{item2.image}}">
                  </ion-thumbnail>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="div-name">
                    <h2 class="h2_name">{{item2.name}}</h2>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'COMBOS'">
      <ion-item class="item-color" *ngFor="let item3 of listCombo" (click)="NavigationHistoryInformationPage(item3,1);">
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col col>
                  <ion-thumbnail item-start>
                    <img src="https://app-restaurante.herokuapp.com/api/images/{{item3.image}}">
                  </ion-thumbnail>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="div-name">
                    <h2 class="h2_name">{{item3.name}}</h2>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'BEBIDAS'">
      <ion-item class="item-color" *ngFor="let item4 of listBebida" (click)="NavigationHistoryInformationPage(item4,0);">
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col col>
                  <ion-thumbnail item-start>
                    <img src="https://app-restaurante.herokuapp.com/api/images/{{item4.image}}">
                  </ion-thumbnail>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="div-name">
                    <h2 class="h2_name">{{item4.name}}</h2>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'ALCOHOLICAS'">
      <ion-item class="item-color" *ngFor="let item5 of listAlcoholica" (click)="NavigationHistoryInformationPage(item5,0);">
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col col>
                  <ion-thumbnail item-start>
                    <img src="https://app-restaurante.herokuapp.com/api/images/{{item5.image}}">
                  </ion-thumbnail>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="div-name">
                    <h2 class="h2_name">{{item5.name}}</h2>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ion-list>

  </div>

</ion-content>