<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="container_menu">

  <div class="div_name">
    <ion-grid>
      <ion-row>
        <ion-col class="col-center">
          <h2 class="h2_text">{{item.name}}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col-center">
          <h2 class="h2_text">{{item.phone}}</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div_title">
    <h1 class="title_history">Menu</h1>
  </div>

  <ion-list>
    <ion-list-header class="header_text">TIPICO</ion-list-header>
    <ion-item *ngFor="let item2 of listTipico">
      <ion-card>
        <ion-card-header>
          <h2 class="h2_name">{{item2.name}}</h2>
        </ion-card-header>
      </ion-card>
    </ion-item>
    <ion-list-header class="header_text">COMBOS</ion-list-header>
    <ion-item *ngFor="let item3 of listCombo">
      <ion-card>
        <ion-card-header>
          <h2 class="h2_name">{{item3.name}}</h2>
        </ion-card-header>
      </ion-card>
    </ion-item>
    <ion-list-header class="header_text">BEBIDAS</ion-list-header>
    <ion-item *ngFor="let item4 of listBebida">
      <ion-card>
        <ion-card-header>
          <h2 class="h2_name">{{item4.name}}</h2>
        </ion-card-header>
      </ion-card>
    </ion-item>
    <ion-list-header class="header_text">BEBIDAS ALCOHOLICAS</ion-list-header>
    <ion-item *ngFor="let item5 of listAlcoholica">
      <ion-card>
        <ion-card-header>
          <h2 class="h2_name">{{item5.name}}</h2>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>